.sugestion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
}

.sugestion div {
    padding: 0.5rem 0.7rem;
    border: 1px solid #bdc3c7;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    font-weight: 700;
    background-color: #ecf0f1;
}

.sugestion div:hover {
    cursor: pointer;
    background-color: #dfe1e2;
}

@media screen and (max-width: 480px) {

    .sugestion {
        display: none;
    }

}