.header1 {
    width: 12%;
    display: flex;
    align-items: center;

}

.header1 .sideIcon {
    width: 20%;
    display: inline-block;
}

.header1 img {
    width: 80%;
    display: inline-block;
    margin-left: 0;
}

@media screen and (max-width: 480px) {
    .header1 {
        width: 20%;
    }

    .header1 img {
        width: 110%;
    }

    .header1 .sideIcon {
        display: none;
    }
}